[Unit]
Description=Baculum WebGUI Bacula Community tool
After=network.target

[Service]
PIDFile=/var/run/baculum-web.pid
ExecStart=/usr/sbin/lighttpd -f %CONFDIR/baculum-web-lighttpd.conf

[Install]
WantedBy=multi-user.target

