<configuration>
	<paths>
		<using namespace="System.I18N.*" />
	</paths>
	<modules>
		<!-- config modules -->
		<module id="web_config" class="Application.Web.Class.WebConfig" />
		<module id="host_config" class="Application.Web.Class.HostConfig" />
		<!-- data modules -->
		<module id="api" class="Application.Web.Class.BaculumAPIClient" />
		<module id="data_desc" class="Application.Web.Class.DataDescription" />
		<module id="data_deps" class="Application.Web.Class.DataDependencies" />
		<module id="globalization" class="TGlobalization">
			<translation type="gettext" source="Application.Web.Lang" marker="@@" autosave="false" cache="false" DefaultCulture="en" />
		</module>
		<module id="log" class="System.Util.TLogRouter">
			<route class="TFileLogRoute"  Categories="Execute, External, Application, General, Security" LogPath="Application.Web.Logs" LogFile="baculum-web.log" MaxFileSize="1000" MaxLogFiles="5" />
		</module>
		<!-- auth modules -->
		<module id="basic_webuser" class="Application.Web.Class.BasicWebUserConfig" />
	</modules>
</configuration>
