#jobs_summary_graph {
	height: 380px;
	z-index: 0;
}

#jobs_summary_graph canvas:nth-child(2) {
	position: static !important;
}

.monospace {
	font-family: "Courier New", Courier, monospace !important;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

th, table.dataTable thead td {
	border-bottom: none !important;
}

table.dataTable.no-footer {
	border-bottom: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	color: black !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	border: 1px solid #4CAF50 !important;
	background: #4CAF50 !important;
	border-radius: unset !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: none !important;
	border: 1px solid #4CAF50 !important;
	border-radius: unset !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active, .dataTables_wrapper .dataTables_paginate .paginate_button.current:active {
	border: 1px solid #4CAF50 !important;
	box-shadow: none !important;
}

.hide {
        display: none !important;
}

img.reset_btn, img.remove_btn {
        display: none;
        cursor: pointer;
        vertical-align: middle;
}

.step {
	/*width: 30% !important;*/
	min-height: 130px;
}

.step_title {
	clear: left;
	
}

div.opentip div.ot-header h1 {
	font-size: 14px !important;
	font-weight: bold;
}

div.opentip div.ot-content {
	padding: 5px;
	font-size: 14px;
	line-height: 18px;
}

div.TDatePicker_default {
	z-index: 10 !important;
}

svg.reset_btn, svg.remove_btn {
	display: none;
	cursor: pointer;
	margin-left: 4px;
}

div.directive_value svg {
	vertical-align: middle;
}

div.directive_value:hover svg.reset_btn, div.directive_value:hover svg.remove_btn {
	display: inline;
}

div.details_card {
	min-height: 200px;
}

@media screen and (max-width: 620px) {
	div.details_card {
		width: 100%;
	}
}
@media screen and (min-width: 621px) {
	div.details_card {
		width: 270px;
	}
}

.button_fixed {
	min-width: 125px;
}

div.config_directives {
	padding: 10px;
}

#last_jobs_list tbody tr {
	cursor: pointer;
}

.justify {
	text-align: justify;
}

#fileset_browser_file_container, #fileset_browser_include_container, #fileset_browser_exclude_container {
	width: 50%;
	overflow-y: auto;
	overflow-x: none;
	background-color: white;
	padding: 0;
	height: 384px;
}

#fileset_browser_include_container {
	height: 150px;
}

#fileset_browser_exclude_container {
	height: 162px;
}

.item {
	cursor: pointer;
	clear: left;
	height: 30px;
}

.item a {
	text-decoration: underline;
}

.item, .item_included, .item_excluded {
	padding: 4px 0 4px 4px;
	background-color: transparent;
}

.item_included, .item_excluded {
	width: 100%;
}

.item:hover, .item_included:hover, .item_excluded:hover {
	width: 100%;
	height: 30px;
	background-color: #e7e7e7;
}

.item_inc_exc_btn {
	display: inline-block;
	float: right;
	margin-left: 5px;
}

.item_selected_del_btn {
	float: right;
	margin: 2px 10px;
	cursor: pointer;
}

.item_name {
	width: 69%;
	float: left;
	padding-left: 5px;
}

.dir_item_img, .file_item_img, .link_item_img {
	width: 30px;
	height: 24px;
	background-repeat: no-repeat;
	float: left;
}

.dir_item_img {
	background-image: url('/themes/Baculum-v2/directory-icon.png');
}

.file_item_img {
	background-image: url('/themes/Baculum-v2/file-icon.png');
}

.link_item_img {
	background-image: url('/themes/Baculum-v2/link-icon.png');
}
