#jobs_summary_graph {
	height: 380px;
	z-index: 0;
}

#jobs_summary_graph canvas:nth-child(2) {
	position: static !important;
}

.monospace {
	font-family: "Courier New", Courier, monospace !important;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

th, table.dataTable thead td {
	border-bottom: none !important;
}

table.dataTable tbody td {
	vertical-align: middle;
}

table.dataTable.no-footer {
	border-bottom: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	color: black !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	border: 1px solid #4CAF50 !important;
	background: #4CAF50 !important;
	border-radius: unset !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: none !important;
	border: 1px solid #4CAF50 !important;
	border-radius: unset !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active, .dataTables_wrapper .dataTables_paginate .paginate_button.current:active {
	border: 1px solid #4CAF50 !important;
	box-shadow: none !important;
}

th.action_col, td.action_col {
	width: 110px !important;
}

td.action_col button {
	display: inline-block;
	margin: 0 auto;
}

.hide {
        display: none !important;
}

img.reset_btn, img.remove_btn {
        display: none;
        cursor: pointer;
        vertical-align: middle;
}

.step {
	/*width: 30% !important;*/
	min-height: 130px;
}

.step_title {
	clear: left;
	
}

div.opentip div.ot-header h1 {
	font-size: 14px !important;
	font-weight: bold;
}

div.opentip div.ot-content {
	padding: 5px;
	font-size: 14px;
	line-height: 18px;
}

div.TDatePicker_default {
	z-index: 10 !important;
}

i.reset_btn, i.remove_btn {
	display: none;
	cursor: pointer;
	margin-left: 4px;
}

div.directive_value i {
	vertical-align: middle;
}

div.directive_value:hover i.reset_btn, div.directive_value:hover i.remove_btn {
	display: inline;
}

div.details_card {
	min-height: 200px;
}

@media screen and (max-width: 620px) {
	div.details_card {
		width: 100%;
	}
}
@media screen and (min-width: 621px) {
	div.details_card {
		width: 270px;
	}
}

.button_fixed {
	min-width: 125px;
}

div.config_directives {
	padding: 10px;
}

#last_jobs_list tbody tr {
	cursor: pointer;
}

.justify {
	text-align: justify;
}

.fileset_browser_file_container, .fileset_browser_include_container, .fileset_browser_exclude_container {
	width: 50%;
	overflow-y: auto;
	overflow-x: none;
	background-color: white;
	padding: 0;
	height: 384px;
}

.fileset_browser_include_container {
	height: 150px;
}

.fileset_browser_exclude_container {
	height: 162px;
}

.item {
	cursor: pointer;
	clear: left;
	height: 30px;
}

.item a {
	text-decoration: underline;
}

.item i {
	float: left;
}

.item, .item_included, .item_excluded {
	padding: 4px 0 4px 4px;
	background-color: transparent;
}

.item_included, .item_excluded {
	width: 100%;
}

.item:hover, .item_included:hover, .item_excluded:hover {
	width: 100%;
	height: 30px;
	background-color: #e7e7e7;
}

.item_inc_exc_btn {
	display: inline-block;
	float: right;
	margin-left: 5px;
}

.item_selected_del_btn {
	float: right;
	margin: 2px 10px;
	cursor: pointer;
}

.item_name {
	width: 69%;
	float: left;
	padding-left: 5px;
}

.item_icon {
	font-size: 24px;
	vertical-align: bottom;
}

ul.new_element_menu {
	margin-top: 0;
	padding-left: 0;
	padding-top: 8px
}

ul.new_element_menu li {
	padding: 2px 16px;
}

ul.new_element_menu li a {
	text-decoration: none;
}

table.status_table tr {
	height: 40px;
}

table.status_table td:nth-of-type(1) {
	width: 35%;
}

table.status_table td, table.status_table td i {
	vertical-align: middle;
}

.fa-ellipsis-v {
	padding: 10px 15px;
	border-radius: 50%;
	background-color: transparent;
}

.fa-ellipsis-v:hover {
	background-color: #efeff0;
}

.progressbar {
	position: relative;
}

.progressbar-label {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

.smallbox {
	width: 160px;
}

a.raw {
	text-decoration: none;
}

.option_cell {
	width: 330px;
}

.resource:hover, .component:hover {
	background-color: #faedd5;
}

table.component td:nth-of-type(1) {
	line-height: 23px;
	vertical-align: sub;
	padding-top: 11px;
}

.bottom_buttons {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 5px 0;
	min-height: 48px;
	background-color: rgba(255, 255, 255, 0.5);
	width: calc(100% - 300px);
}

.bottom_buttons a, .bottom_buttons button {
	margin: 0 3px;
}

.usage_box {
	height: 138px;
	-webkit-transition: height 0.3s; /* For Safari 3.1 to 6.0 */
	transition: height 0.3s;
}

.usage_box:hover {
	height: 200px;
}
