[Unit]
Description=Baculum API Bacula Community tool
After=network.target

[Service]
PIDFile=/var/run/baculum-api.pid
ExecStart=/usr/sbin/lighttpd -f /etc/baculum/baculum-api-lighttpd.conf

[Install]
WantedBy=multi-user.target

