module baculum-api 1.0.0;

require {
	type init_t;
	type postgresql_port_t;
	type mysqld_port_t;
	type httpd_t;
	type bacula_etc_t;
	type unreserved_port_t;
	type hplip_port_t;
	type sudo_exec_t;
	type httpd_cache_t;
	type bacula_etc_t;
	type bacula_exec_t;
	type httpd_sys_rw_content_t;
	type shadow_t;
	type systemd_systemctl_exec_t;
	type systemd_unit_file_t;
	class tcp_socket { name_bind name_connect };
	class dir { search read write create };
	class file { append read write create getattr open execute execute_no_trans };
	class netlink_audit_socket { write nlmsg_relay create read };
	class capability { audit_write sys_resource net_admin };
	class service { start stop };
	class unix_stream_socket { connectto };
	class process { setrlimit };
}

#============= httpd_t ==============

allow httpd_t mysqld_port_t:tcp_socket name_connect;
allow httpd_t postgresql_port_t:tcp_socket name_connect;
allow httpd_t unreserved_port_t:tcp_socket { name_connect name_bind };
allow httpd_t hplip_port_t:tcp_socket name_connect;
allow httpd_t bacula_etc_t:dir { read write search };
allow httpd_t bacula_etc_t:file { getattr read write open };
allow httpd_t bacula_exec_t:file { getattr read execute execute_no_trans open };
allow httpd_t sudo_exec_t:file { read execute open };
allow httpd_t httpd_cache_t:dir { read create };
allow httpd_t httpd_cache_t:file { read write create };
allow httpd_t self:netlink_audit_socket { write nlmsg_relay create read };
allow httpd_t self:capability { audit_write sys_resource net_admin };
allow httpd_t self:process { setrlimit };
allow httpd_t httpd_sys_rw_content_t:dir { read write };
allow httpd_t httpd_sys_rw_content_t:file { create append };
allow httpd_t shadow_t:file { open read };
allow httpd_t systemd_systemctl_exec_t:file { getattr open read execute execute_no_trans };
allow httpd_t systemd_unit_file_t:service { start stop };
allow httpd_t init_t:unix_stream_socket connectto;
