.wizard {
}

.steps {
	background-image: none;
	min-height: 520px;
}

#restore-browser {
	width: 100%;
	height: 100%;
}

#restore-browser-files {
	width: 315px;
	height: 434px;
}

#restore-browser-files, #restore-browser-versions, #restore-browser-selected {
	overflow: auto;
	width: 474px;
	background-color: white;
	border-radius: 4px;
	padding: 4px;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#restore-browser-files {
	height: 506px;
}

#restore-browser-versions {
	height: 206px;
}

#restore-browser-selected {
	height: 282px;
}

#restore-browser-files-loading {
	position: absolute;
	z-index: 10;
	width: 482px;
	height: 514px;
	border-radius: 4px;
	background: rgba(182,182,182,0.7) url('progress.gif') no-repeat center center;
}

.restore-browser-element-size {
	float: right;
	width: 100px;
}

.restore-browser-element-size {
	line-height: 24px;
}

.file-browser-watermark {
	padding: 77px 10px;
	text-align: center;
	font-size: 21px;
	color: rgb(185, 184, 184);
}

#backup-to-restore-field > div {
	height: 467px;
	overflow-y: auto;
}
