body {
	background-color: #b5c9d3;
	background-image: url('../background.png');
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

body.api {
	background-image: none;
	background-color: #444445;
	color: white;
}

a {
	font-size: 12px;
	color: white;
	padding: 3px 4px;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


input.invalidate, select.invalidate {
	border: 1px solid red;
}

input[type=text], input[type=password], select, textarea {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding: 5px;
}

input[type=checkbox] {
		height: 16px;
		width: 16px;
}

input.textbox, select.textbox, textarea.textbox {
	width: 300px;
	border: 1px solid black;
	font-size: 11pt !important;
	display: table-cell;
}

input.textbox-short, select.textbox-short {
	width: 80px;
	border: 1px solid black;
	font-size: 11pt;
	display: table-cell;
}

input.textbox-auto, select.textbox-auto, textarea.textbox-auto {
	border: 1px solid black;
	font-size: 14px;
	display: table-cell;
}

textarea.textbox-auto {
	resize: vertical;
	width: 100%;
	font-size: 11px;
}

input.bbutton {
	font-size: 12px !important;
	vertical-align: baseline;
	-webkit-appearance: none;
	text-shadow: 0 1px 1px #7b2121;
	font-family: "times, serif" !important;
	font-weight: 600;
	color: white;
	height: 28px;
	line-height: 26px;
	cursor: pointer;
	display: inline-block;
	width: auto;
	margin: 5px 8px;
	padding: 0 16px;
	min-width: 65px;
	border-radius: 4px;
	border: 1px solid #8f2626;
	background: #ca3838;
	background-image: linear-gradient(#df8989, #d03232);
}

input.bbutton:hover {
	padding: 0 16px;
	box-shadow: inset 0 0 3px #faeded;
	background: #ff7474;
	border: 1px solid #8f2626;
}

.center {
	text-align: center !important;
}

.left {
	text-align: left !important;
}

.right {
	text-align: right;
}

.api_button, .api_select {
	font-weight: bold;
	border: 1px solid #212121;
	border-radius: 4px;
	height: 37px;
	display: inline-block;
	vertical-align: super;
}

.api_button {
	color: #1a1b1d;
	background-color: #ffeb3b;
}

.api_button:hover {
	color: black;
	background-color: white;
	cursor: pointer;
	transition: all 0.3s linear;
}

.validator, .validate, .validator-block, .validator-info {
	color: #f58589 !important;
	font-size: 10pt;
	/*margin-left: 5px;*/
}

.validator-info {
	color: white !important;
}

.validator-block {
	display: block;
}

.block {
	display: block !important;
}

.validate {
	color: #96c600 !important;
}

.line {
	min-height: 35px;
	clear: both;
}

.text {
	width: 240px;
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
}

.field {
	display: table-cell;
}

.field-full {
	display: block;
	min-height: 200px;
	width: 98%;
}

.footer {
	font-size: 12px;
	text-align: right;
	margin-top: 5px;
}

/* API server OAuth2 progress bar */

#progress_label {
	position: absolute;
	top: 114px;
	transform: translate(-50%, -50%);
	font-weight: bold;
}

#api_command {
	border-radius: 5px;
	height: 26px;
	width: 617px;
	font-size: 25px;
	color: #444444;
	padding: 9px 10px 2px 9px;
}

#api_output {
	margin-top: 20px;
	border-radius: 6px;
	border: 1px solid white;
	width: 75%;
}

#api_result {
	margin: 0 auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: 13px;
}

.api_button, .api_select {
	font-weight: bold;
	border: 1px solid #212121;
	border-radius: 4px;
	height: 37px;
	display: inline-block;
	vertical-align: super;
}

.api_button {
	color: #1a1b1d;
	background-color: #ffeb3b;
}

.api_button:hover {
	color: black;
	background-color: white;
	cursor: pointer;
	transition: all 0.3s linear;
}

#api_refresh {
	margin-left: 10px;
	cursor: pointer;
}

/**
 * Override jQuery-UI theming.
 */

.ui-widget-content td a, .ui-widget-content div a {
	color: white !important;
	text-decoration: underline !important;
}

.ui-dialog-content div a {
	color: black !important;
	text-decoration: underline !important;
}

.ui-tabs {
	font-size: 12px !important;
}

.ui-tabs .ui-tabs-panel {
	background-color: #444445 !important;
	color: white !important;
	font-size: 15px !important;
}

.tab-grid {
	border-spacing: 0 !important;
}

.tab-grid td  {
	border-top: 1px solid white !important;
	padding: 8px !important;
}

.error {
	color: red;
}

fieldset {
	margin-bottom: 15px;
	font-size: 14px;
}

fieldset .line {
	min-height: initial;
	height: 25px;
}

fieldset .text {
	width: 250px;
}

legend {
	font-size: 12px;
	font-weight: bold;
	color: white;
}

img {
	vertical-align: middle;
	border: none;
}

h4 {
	margin: 6px 0;
}

.test_label {
	display: inline-block;
	height: 34px;
}

.config_lines {
	width: 590px;
	float: left;
}


.config_lines div.field {
	width: 280px !important;
}

#config_fields {
	width: 732px;
	margin: 0 auto;
	padding-top: 7px;
}

#config_fields div.button {
	padding-left: 247px;
}

fieldset.config_field {
	width: 667px;
}

fieldset.config_field .line {
	height: auto;
	min-height: 35px !important;
	padding-top: 2px;
	padding-bottom: 2px;
}

span.config_test_loader, span.config_test_result {
	line-height: 75px;
}
