.wizard {
	min-height: 547px;
	width: 1024px;
	margin: 50px auto;
	font-family: Arial;
	color: white;
	background-color: #585756;
	background-image: url('../step-head.png');
	background-repeat: repeat-x;
	border: 1px solid black;
	border-radius: 15px;
}

.steps {
	padding: 8px 20px;
	background-image: none;
	min-height: 520px;
}

.steps div.line {
	text-align: center;
}
 
.steps div.text, .steps div.field {
	display: inline-block;
	text-align: left;
}

.steps div.field {
	width: 420px;
}

.navigation {
	text-align: center;
	padding: 5px 0;
	background-image: url('../wizard-bottom-1.png');
	background-repeat: repeat-x;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
 }
 
.step {
	float: left;
	height: 45px;
	width: 124px;
	font-size: 13pt;
	text-align: center;
 }
 
.step div{
	margin: 12px 15px 12px 0;
 }
 
.step-normal,  .step-active,  .step-prev-active, .step-first-active, .step-first-next-active {
	background-repeat: no-repeat;
	background-position: right center;
 }
 
  .step-first {
	width: 126px;
	background-image: url('../step-first.png');
 }
 
 .step-first-active {
	width: 126px;
	background-image: url('../step-first-active.png');
 }
 
 .step-first-next-active{
	width: 126px;
	background-image: url('../step-first-next-active.png');
 }

.step-last {
	width: 130px;
	background-image: url('../step-last-1.png');
 }

 .step-last-active {
	width: 130px;
	background-image: url('../step-last-active-1.png');
 }
 
 .step-last-next-active{
	width: 130px;
	background-image: url('../step-last-next-active.png');
 }

.step-normal, .step-prev-active {
	background-image: url('../step.png');
 }
 
.step-active{
	background-image: url('../step-active.png');
 }
 
.step-prev-active {
	background-image: url('../step-prev-active.png');
 }
 
#title {
	clear: left;
	font-size: 14px;
	font-weight: bold;
	background-image: url('../wizard-header-1.png');
	background-repeat: repeat-x;
	padding: 4px;
}

div.button-cancel {
	float: right;
	margin-right: 28px
}

div.button-prev-next {
	margin-left: 84px
}

a.link {
	color: #3f4449;
	font-weight: bold;
	text-decoration: none;
}

a.link:hover {
	text-decoration: underline;
}
